.nf-form-fields-required {
  display: none;
}

.nf-form-cont {
  @apply mt-8;

  .form-textarea {
    height: 200px !important;
  }
}

.nf-form-content .list-select-wrap .nf-field-element > div,
.nf-form-content input:not([type=button]),
.nf-form-content textarea {
  background-color: #fff !important;
  border: 1px solid #d9d9d9 !important;
  border-radius: 10px !important;
  height: 56px !important;
}

.nf-error.field-wrap .nf-field-element:after {
  content: none !important;
}

.submit-wrap input {
  background-color: #3657b9 !important;
  border-radius: 10px;
  height: 66px;
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 230px;
  font-size: 20px;
  font-weight: 700;
  
  &:hover {
    cursor: pointer;
    color: #fff !important;
  }
}
