.footer {
  .widget-area {
    display: flex;
    flex-direction: column;

    @screen md {
      flex-direction: row;
    }
  }

  * {
    @apply text-white-1;
  }

  .widget {
    flex: 0 1 35%;
    margin-bottom: 2rem;

    @screen md {
      margin-bottom: 0;
    }

    h3 {
      font-size: 23px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 1.2rem;
      color: #fff;
    }
  }
}
