.section {
  &-highlights {
    display: flex;
    justify-content: center;
    min-height: 218px;
    flex-direction: column;

    @screen md {
      flex-direction: row;
    }

    &-title {
      @apply text-main text-35px;
      font-weight: 700;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3rem 1rem;

      @screen md {
        @apply text-27px p-4;
      }

      @screen xl {
        @apply text-35px;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: #babccd;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;

        @screen md {
          height: 100%;
          width: 1px;
          top: 0;
        }

        @screen lg {
          right: 0;
        }

        @screen xl {
          right: 0;
        }
      }

      &:last-child {
        border-right: 0;

        &:after {
          content: none;
        }
      }
    }
  }
}
