.header,
.header-home {
  .nav {
    justify-content: flex-end;
    text-transform: uppercase;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 5rem;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(6, 15, 36, 0.1);
    padding: 1rem;
    line-height: 1.8;
    display: none;
    z-index: 100;
    width: 100%;
    max-width: 240px;

    @screen lg {
      display: flex;
      flex-direction: row;
      background-color: transparent;
      position: static;
      box-shadow: none;
      max-width: 100%;
    }

    li:last-child {
      a {
        margin-right: 0;
      }
    }

    a {
      @apply text-main;
      font-size: 1rem;
      font-weight: 700;
      margin-right: 50px;

      @screen lg {
        @apply text-white;
      }
    }
  }

  .mobilemenu.active {
    & + .nav {
      display: flex;
    }
  }
}

.header-home {
  background-image: url('../images/slidebg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;

  .nav {
    top: 3rem;
  }
}
