.post-type-archive {
  .fancybox-content {
    width: 100%;
    max-width: 962px;
    padding: 2.2rem;

    @screen md {
      padding: 3.5rem;
    }

    h3 {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 30px;

      @screen md  {
        font-size: 25px;
      }
    }

    .nf-field-label label {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      color: #545975;

      @screen md {
        font-size: 20px;
      }
    }

    .nf-fu-fileinput-button {
      background-color: #3657b9;
      border-radius: 10px;
      width: 173px;
      height: 36px;
    }

    .nf-fu-progress {
      display: none;
    }

    .nf-field-element ul {
      display: flex;
      flex-direction: column;

      @screen md {
        flex-direction: row;
      }

      > li {
        margin-right: 1rem !important;
      }
    }

    .listradio-wrap .nf-field-element label.nf-checked-label:before {
      background: #3657b9 !important;
    }

    .listradio-wrap .nf-field-element label.nf-checked-label:after {
      border-color: #3657b9 !important;
    }

    .checkbox-wrap .nf-field-element label.nf-checked-label:before, .checkbox-wrap .nf-field-label label.nf-checked-label:before, .listcheckbox-wrap .nf-field-element label.nf-checked-label:before, .listcheckbox-wrap .nf-field-label label.nf-checked-label:before {
      color: #3657b9 !important;
    }
    
    .close-btn {
      &:hover {
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
    }
    
    .delete {
      color: #fff;
    }

    .nf-response-msg {
      p {
        font-size: 25px;
        text-align: center;
        margin-bottom: 2rem;
        color: green;
      }
    }

    .submit-container {
      text-align: center;

      @screen md {
        text-align: right;
      }
    }
  }
}
