body {
  font-family: "Nunito", sans-serif;
  @apply text-main font-semibold;
}

.container-fluid {
  @apply px-4;
  max-width: 1640px;
  margin: 0 auto;
}

ul {
  .active a {
    text-decoration: underline;
  }
}

h3 {
  @apply text-25px font-bold;
}
